body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  background-color: #343838;
}
hr {
  background-color: #343838;
  background-image: -webkit-gradient(linear,left top,left top,color-stop(0%,#343838),color-stop(50% #a294bd),color-stop(100% #343838));
  background-image: -webkit-linear-gradient(left,#343838 0%,#a294bd 50%,#343838 100%);
  background-image: -moz-linear-gradient(left,#343838 0%,#a294bd 50%,#343838 100%);
  background-image: -ms-linear-gradient(left,#343838 0%,#a294bd 50%,#343838 100%);
  background-image: -o-linear-gradient(left,#343838 0%,#a294bd 50%,#343838 100%);
  background-image: linear-gradient(left,#343838 0%,#a294bd 50%,#343838 100%);
  border: none;
  height: 1px;
}
#content {
  margin: 0px 5%;
}
.img-polaroid {
  padding: 2px;
  background-color: #000;
}
a {
  color: #a294bd;
}
a:visited {
  color: #7965a0;
}
a:hover {
  color: #f4f2f8 !important;
}
.boardLink {
  text-align: left !important;
  vertical-align: middle !important;
}
.boardLink a {
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
}
.boardLink a:hover {
  text-decoration: underline;
}
.pagination {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #a294bd;
}
.text-primary {
  color: #a294bd;
}
.text-info {
  color: #3a87ad !important;
}
.text-success {
  color: #468847 !important;
}
.text-warning {
  color: #c09853 !important;
}
.text-error {
  color: #b94a48 !important;
}
.help-primary {
  color: #a294bd;
}
.text-disabled {
  color: #aaa !important;
}
.text-middle {
  vertical-align: middle !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.hide {
  display: none;
}
.page-header {
  border-bottom: 1px solid #eeeeee;
}
.well hr {
  border: none;
  height: 1px;
  background-color: #232728;
  background-image: -webkit-gradient(linear,left top,left top,color-stop(0%,#232728),color-stop(50% #a294bd),color-stop(100% #232728));
  background-image: -webkit-linear-gradient(left,#232728 0%,#a294bd 50%,#232728 100%);
  background-image: -moz-linear-gradient(left,#232728 0%,#a294bd 50%,#232728 100%);
  background-image: -ms-linear-gradient(left,#232728 0%,#a294bd 50%,#232728 100%);
  background-image: -o-linear-gradient(left,#232728 0%,#a294bd 50%,#232728 100%);
  background-image: linear-gradient(left,#232728 0%,#a294bd 50%,#232728 100%);
}
.well .well-title {
  background: #a294bd;
  color: #000;
  position: relative;
  top: -17px;
  left: -17px;
  right: -17px;
  width: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: -34px;
  display: block;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
.well .well-title-bottom {
  background: #a294bd;
  color: #000;
  position: relative;
  bottom: -18px;
  left: -17px;
  right: -17px;
  width: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border-top: 2px solid #000;
  margin-right: -34px;
  display: block;
  height: 20px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
.well .well-title-info {
  background: #9081b0;
}
.well .well-title-success {
  background: #88b081;
}
.well-small .well-title {
  background: #a294bd;
  color: #000;
  position: relative;
  top: -7px;
  left: -7px;
  right: -7px;
  width: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 2px solid #000;
  margin-right: -14px;
  display: block;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
.well-small .well-title-bottom {
  background: #a294bd;
  color: #000;
  position: relative;
  bottom: -8px;
  left: -7px;
  right: -7px;
  width: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border-top: 2px solid #000;
  margin-right: -14px;
  display: block;
  height: 20px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
.well-title a,
.well-title-bottom a {
  color: #000;
}
.well-btn {
  background: #7965a0;
  color: #000;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0px 10px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
.well-btn:hover {
  background: #6e9da4;
}
.well-btn a {
  color: #000;
}
.well-btn-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.well-btn-left {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.well-btn-danger {
  background: #5b1418;
}
.well-btn-danger:hover {
  background: #aa7f6e;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #343838;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #a294bd;
  border: 1px solid #a294bd;
  vertical-align: middle !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(162,148,189,0.8);
  outline: 0;
  outline: thin dotted 9;
  vertical-align: middle !important;
}
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  vertical-align: top;
}
.input-append .uneditable-input[class*="span"],
.input-prepend .uneditable-input[class*="span"] {
  display: inline-block;
}
.control-group.primary .control-label,
.control-group.primary .help-block,
.control-group.primary .help-inline {
  color: #a294bd;
}
.control-group.primary .checkbox,
.control-group.primary .radio,
.control-group.primary input,
.control-group.primary select,
.control-group.primary textarea {
  color: #a294bd;
}
.control-group.primary input,
.control-group.primary select,
.control-group.primary textarea {
  border-color: #a294bd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  vertical-align: middle !important;
}
.control-group.primary input:focus,
.control-group.primary select:focus,
.control-group.primary textarea:focus {
  border-color: #3b595d;
  vertical-align: middle !important;
}
.control-group.primary .input-prepend .add-on,
.control-group.primary .input-append .add-on {
  color: #a294bd;
  background-color: #fcf8e3;
  border-color: #a294bd;
  vertical-align: middle !important;
}
.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  vertical-align: middle !important;
}
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #163046;
  vertical-align: middle !important;
}
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #fcf8e3;
  border-color: #3a87ad;
  vertical-align: middle !important;
}
.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  vertical-align: middle !important;
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #653b0d;
  vertical-align: middle !important;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
  vertical-align: middle !important;
}
.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  vertical-align: middle !important;
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #276627;
  vertical-align: middle !important;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #fcf8e3;
  border-color: #468847;
  vertical-align: middle !important;
}
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  vertical-align: middle !important;
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #461816;
  vertical-align: middle !important;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #fcf8e3;
  border-color: #b94a48;
  vertical-align: middle !important;
}
table > caption {
  color: #a294bd;
  font-weight: bold;
  letter-spacing: 2px;
}
.table-striped tbody > tr:nth-child(odd) > td {
  background-color: #000 !important;
}
.table.table-inner th,
.table.table-inner td {
  border-top: none;
}
.table .text-center td {
  text-align: center !important;
}
.table.table-inner {
  padding: 0;
  margin: 0;
}
.table tbody tr.error > td {
  background-color: #461816;
}
.table tbody tr.error:hover > td {
  background-color: #6d2522;
}
.table tbody tr.info > td {
  background-color: #163046;
}
.table tbody tr.info:hover > td {
  background-color: #224b6d;
}
.table tbody tr.success > td {
  background-color: #276627;
}
.table tbody tr.success:hover > td {
  background-color: #348c34;
}
.table tbody tr.warning > td {
  background-color: #653b0d;
}
.table tbody tr.warning:hover > td {
  background-color: #925513;
}
.table tbody tr.primary > td {
  background-color: #3b595d;
}
.table tbody tr.primary:hover > td {
  background-color: #4e777d;
}
td {
  vertical-align: middle !important;
}
.btn {
  color: #ffffff !important;
  background-image: -moz-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -ms-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -o-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: linear-gradient(top,#ffffff,#e6e6e6);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  text-shadow: none;
}
.btn-primary,
.fuelux .btn-primary {
  background-color: #7965a0 !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#a294bd,#7965a0);
  background-image: -ms-linear-gradient(top,#a294bd,#7965a0);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#a294bd),to(#7965a0));
  background-image: -webkit-linear-gradient(top,#a294bd,#7965a0);
  background-image: -o-linear-gradient(top,#a294bd,#7965a0);
  background-image: linear-gradient(top,#a294bd,#7965a0);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #7965a0;
}
.btn-warning {
  background-color: #916f35 !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#c09853,#916f35);
  background-image: -ms-linear-gradient(top,#c09853,#916f35);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#c09853),to(#916f35));
  background-image: -webkit-linear-gradient(top,#c09853,#916f35);
  background-image: -o-linear-gradient(top,#c09853,#916f35);
  background-image: linear-gradient(top,#c09853,#916f35);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #916f35;
}
.btn-danger {
  background-color: #833332 !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#b94a48,#833332);
  background-image: -ms-linear-gradient(top,#b94a48,#833332);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#b94a48),to(#833332));
  background-image: -webkit-linear-gradient(top,#b94a48,#833332);
  background-image: -o-linear-gradient(top,#b94a48,#833332);
  background-image: linear-gradient(top,#b94a48,#833332);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #833332;
}
.btn-success {
  background-color: #2c552d !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#468847,#2c552d);
  background-image: -ms-linear-gradient(top,#468847,#2c552d);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#468847),to(#2c552d));
  background-image: -webkit-linear-gradient(top,#468847,#2c552d);
  background-image: -o-linear-gradient(top,#468847,#2c552d);
  background-image: linear-gradient(top,#468847,#2c552d);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #2c552d;
}
.btn-info {
  background-color: #275a74 !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#3a87ad,#275a74);
  background-image: -ms-linear-gradient(top,#3a87ad,#275a74);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#3a87ad),to(#275a74));
  background-image: -webkit-linear-gradient(top,#3a87ad,#275a74);
  background-image: -o-linear-gradient(top,#3a87ad,#275a74);
  background-image: linear-gradient(top,#3a87ad,#275a74);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #275a74;
}
.btn-inverse {
  background-color: #222222 !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#444444,#222222);
  background-image: -ms-linear-gradient(top,#444444,#222222);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#444444),to(#222222));
  background-image: -webkit-linear-gradient(top,#444444,#222222);
  background-image: -o-linear-gradient(top,#444444,#222222);
  background-image: linear-gradient(top,#444444,#222222);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  transform: translate(-300px,0) scale(4);
  direction: ltr;
}
.nav-tabs.nav-stacked {
  background: #202020;
  background-color: rgba(0,0,0,0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
.nav-tabs.nav-stacked li.active a {
  background: #a294bd;
  color: #000;
  font-weight: bold;
  margin: 0px 1px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
.nav-tabs.nav-stacked li.active a:hover {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.nav-tabs.nav-stacked li a {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.nav-tabs.nav-stacked li a:hover {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.nav-stacked .nav-title {
  background: #a294bd;
  color: #000;
  position: relative;
  top: 0px;
  width: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border: 2px solid #000;
  display: block;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > a:hover {
  border: none;
}
.navbar .brand {
  padding: 10px 20px 10px;
  font-size: 20px;
  color: #a294bd;
}
.navbar .divider-vertical {
  height: 41px;
}
.navbar .nav > li > a {
  padding: 10px 10px 10px;
  font-size: 14px;
  color: #c6c6c6;
}
.navbar .nav > li > a:hover {
  color: #a294bd;
}
.navbar .nav > li.dropdown.active > .dropdown-toggle {
  color: #a294bd;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border: 0;
  border-right: 5px solid #000;
  color: #fff;
  font-weight: bold;
}
.nav-header {
  color: #9469e8;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 0 1px 0 #343838;
}
.nav li + .nav-header {
  margin-top: 0;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #a294bd;
}
.sub-nav {
  margin-bottom: 10px;
  margin-left: 0;
  list-style: none;
}
.sub-nav > li > a {
  display: block;
}
.sub-nav > li > a > img {
  max-width: none;
}
.sub-nav > .pull-right {
  float: right;
}
.sub-nav > li > a:hover,
.sub-nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.sub-navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 20px;
  margin-top: -20px;
  overflow: visible;
}
.sub-navbar .container {
  width: auto;
}
.sub-navbar .sub-nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.sub-navbar .sub-nav.pull-right {
  float: right;
  margin-right: 0;
}
.sub-navbar .sub-nav > li {
  float: left;
}
.sub-navbar .sub-nav > li > a {
  float: none;
  padding: 5px 10px 5px;
  color: #c6c6c6;
  text-decoration: none;
  text-shadow: 0 1px 0 #444444;
}
.sub-navbar .sub-nav .dropdown-toggle .caret {
  margin-top: 8px;
}
.sub-navbar-inner {
  min-height: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #363636;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#444444),color-stop(100% #222222));
  background-image: -webkit-linear-gradient(top,#444444 0%,#222222 100%);
  background-image: -moz-linear-gradient(top,#444444 0%,#222222 100%);
  background-image: -ms-linear-gradient(top,#444444 0%,#222222 100%);
  background-image: -o-linear-gradient(top,#444444 0%,#222222 100%);
  background-image: linear-gradient(top,#444444 0%,#222222 100%);
  border: 1px solid #030303;
  background-repeat: repeat-x;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.sub-navbar-inner:after {
  clear: both;
}
.sub-navbar-inner:before,
.sub-navbar-inner:after {
  display: table;
  line-height: 0;
  content: "";
}
.sub-navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1029;
  margin-bottom: 0;
}
.sub-navbar .sub-nav > li > a:focus,
.sub-navbar .sub-nav > li > a:hover {
  color: #a294bd;
  text-decoration: none;
  background-color: transparent;
}
.sub-navbar .sub-nav > .active > a,
.sub-navbar .sub-nav > .active > a:hover,
.sub-navbar .sub-nav > .active > a:focus {
  color: #a294bd;
  text-decoration: none;
  background-color: transparent;
}
.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success,
.alert-success .alert-heading {
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info,
.alert-info .alert-heading {
  color: #3a87ad;
}
.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #ffffff;
  background-color: #7965a0;
}
.label-important {
  background-color: #7d1b20 !important;
}
.progress-striped .bar {
  background-color: #a294bd;
  background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  color: #000;
}
.badge-important {
  background-color: #b94a48;
}
#utopian-navigation > li.active > a,
#utopian-navigation > li.active > a:hover {
  color: #9b88c2;
}
.fuelux .wizard {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0,0,0,0.3);
  border: 0;
  height: 46px;
}
.fuelux .wizard ul li {
  height: 45px;
  background: transparent;
}
.fuelux .wizard ul li .chevron {
  position: absolute;
  top: 0;
  right: -14px;
  display: block;
  border: 23px solid transparent;
  border-right: 0;
  border-left: 14px solid #000;
}
.fuelux .wizard ul li .chevron:before {
  position: absolute;
  top: -22px;
  right: 3px;
  display: block;
  border: 22px solid transparent;
  border-right: 0;
  border-left: 11px solid #232728;
  content: "";
}
.fuelux .wizard ul li.complete {
  color: #468847;
  background: #7965a0;
}
.fuelux .wizard ul li.complete:hover {
  cursor: pointer;
  background: #7965a0;
}
.fuelux .wizard ul li.complete:hover .chevron:before {
  border: 23px solid transparent;
  border-right: 0;
  border-left: 11px solid #7965a0;
}
.fuelux .wizard ul li.complete .chevron:before {
  border-left: 11px solid #7965a0;
}
.fuelux .wizard ul li.active {
  background: #a294bd;
  color: #fff;
}
.fuelux .wizard ul li.active .chevron:before {
  border-left: 11px solid #a294bd;
}
.editable-click,
a.editable-click,
a.editable-click:hover {
  border-bottom: none !important;
}
ul.messenger.messenger-fixed.messenger-on-top,
ul.messenger.messenger-fixed.messenger-on-bottom {
  margin-top: 50px;
}
ul.jqtree-tree .jqtree-toggler {
  color: #3a87ad;
}
ul.jqtree-tree .jqtree-toggler:hover {
  color: #a294bd;
  text-decoration: none;
}
ul.jqtree-tree .jqtree-title {
  color: #a294bd;
}
